@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 body{
   background: linear-gradient(to right,hsl(213, 100%, 68%),hsl(203, 44%, 68%),hsl(203, 81%, 76%));
} 
.sidebar{
    position: fixed;
}
.sidebar{
margin-left: -70px;
    position: relative;
    width:250px;
    height:100vh;
    display: flex;
    flex-direction: column;
    gap:20px;
    background: #fff;
    padding: 24px;
    border-radius: 20px;
    transition: all 0.3s;
}
/* //border-bottom:1px solid  rgb(137, 209, 253)*/
.sidebar .head{
    display: flex;
    gap:20px;
    padding-bottom: 20px;
 
}

.user-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
   overflow: hidden;;
}
.user-img img{
 width:100%;
 object-fit: cover;
}
.user-details .title{
    font-size: 12px;
    font-weight: 500;  
    color:rgb(128, 11, 128); 
}
.user-details .name{
    font-size: 17px;
    font-weight: 500;
    color: #555;
}
.nav{
    flex:1;
}
.menu .title{
    font-size: 10px;
    font-weight: 500;
    color: #555;
    text-transform: uppercase;
}

.menu ul li{
    list-style: none;
   position: relative;
    margin-bottom: 5px;
}
.menu ul li a{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    padding: 13px -7px;
    border-radius: 8px;
    transition: all 0.3s;
}
.menu ul li > a:hover ,
.menu ul li.active > a{
    color: rgb(92, 149, 209);
    background-color: #f6f6f6;
}
.menu ul li.active .arrow{
    transform: rotate(180deg);
}
.menu ul li .bx{
font-size: 20px;
}
.menu ul li .text{
    flex:1;
}
.menu ul li .arrow{
    font-size: 14px;
}
.menu .sub-menu{
display: none; 
 margin-left: 20px;
 padding-left: 20px;
 padding-top: 5px;
 border-left: 1px solid #f6f6f6;
}
.menu .sub-menu li a{
    padding:1px 8px;
    font-size: 13px;
}
.menu:not(:last-child){
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}
.menu-btn{
    position: absolute;
    right:-14px;
    top:3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #fff;
}
.menu-btn:hover i{
    color: #000;
}
.menu-btn i{
    transition: all 0.3s;
}
.sidebar.active{
    width: 92px;
}
.sidebar.active .menu-btn i{
    transform: rotate(180deg);
}
.sidebar.active .user-details{
    display: none;
}
.sidebar.active .menu .title{
    text-align: center;
}
.sidebar.active .menu ul li .arrow{
    display: none;
}
.sidebar.active .menu > ul > li > a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.active .menu > ul > li > a .text{

    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

}

.sidebar.active .menu > ul > li > a .text::after{

    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text{
    left:50px;
    opacity: 1;
    visibility: visible;
}
.sidebar.active .menu .sub-menu{
        position: absolute;
        top:0;
        left: 20px;
        width: 200px;
        border-radius: 20px;
        padding: 10px 20px;
        border: 1px solid #f6f6f6;
        background-color: #fff;
        box-shadow: 0px 10px 8px rgba(0,0,0,0.1);
}


.card{
    height:500px;
    padding:30px;
    display: none;
    width : calc(100vw-500px);
}

.card.active{
    display: block;
}

.card .content{
    font-size:1.5rem;
}

.contact ,.import{
    background-color:#fff;
    position: absolute;
    margin-left: 190px;
    margin-top: -650px;
    width:79%;
    border-radius:30px;
    height: 100%;
}

.card .title{
    padding: 20px;
    border-bottom: 1px solid #717171;
}
table tr td{
    vertical-align: middle;
}

td button{
    margin: 5px;
}
td button i{
    font-size: 15px;
}
.modal-header{
    background: #0d6efd;
    color: #fff;
}

.modal-body form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}
.modal-body form .imgholder{
   /*flex-basis: 32%;
   height: 100%; */
   width:200px;
   height: 200px;
   position: relative;
   border-radius: 20px;
   overflow: hidden;
}
.imgholder .upload{
 position: absolute;
 bottom:0;
 left: 10;
 width: 100%;
 height: 100px;
 background: rgb(0, 0, 0,0.3);
 display: none;
 justify-content: center;
 align-items: center;
 cursor: pointer;
}
.upload i{
    color: #fff;
    font-size: 35px;

}
.imgholder:hover .upload{
    display: flex;
}
.imgholder .upload input{
    display: none;
}

.modal-body form .inputField{
    flex-basis: 68%;
    border-left: 5px groove blue;
    padding-left: 20px;
}
form .inputField > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
form .inputField > div label{
    font-size: 20px;
    font-weight: 500;
}

#userForm form .inputField > div label::after{
     content: "*";
     color: red;
}


form .inputField > div input{
    width: 75%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid blue;
}
.modal-footer .submit{
    font-size: 18px;
}
#readData form .inputField > div input{
    color: #000;
    font-size: 18px;
}
.sendEmail
{
    position: absolute;
    top: 10%;
    left: 78%;
    border: 2px solid rgb(92, 149, 209);
    border-radius: 10px;
    padding: 5px;
    color: rgb(92, 149, 209);
    background-color: #fff;
    font-size: medium;
    font-family: 'Poppins', sans-serif;

    
}
.sendEmail:hover{
    background-color: rgb(92, 149, 209);
    color: #fff;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}